USE [master]
GO
/****** Object:  Database [CRUDDB]    Script Date: 5/24/2018 11:23:38 AM ******/
CREATE DATABASE [CRUDDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUDDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CRUDDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CRUDDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CRUDDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUDDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUDDB]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 5/24/2018 11:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Course] [varchar](50) NULL,
	[Section] [int] NULL,
	[Mark] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentID], [Name], [Course], [Section], [Mark]) VALUES (1, N'amit', N'cse101', 2, 85)
INSERT [dbo].[Student] ([StudentID], [Name], [Course], [Section], [Mark]) VALUES (2, N'sakib', N'mat101', 3, 90)
INSERT [dbo].[Student] ([StudentID], [Name], [Course], [Section], [Mark]) VALUES (3, N'arif', N'gen205', 4, 88)
SET IDENTITY_INSERT [dbo].[Student] OFF
USE [master]
GO
